<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input required type="text" name="city" placeholder="enter city name" id="city">
        <input type="text" name="country" placeholder="enter country name" id="country">
        <input id ="submit-btn" type="submit">
    </form>
    
</body>
<script src="entry.js"></script>
</html>