*{
    padding: 0;
    margin: 0;
}
#time{
    text-align: right;
    font-size: large;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: red;
}
#lg{
    width: 53px;
}
ul{
    display: flex;
    list-style: none;
    margin: 15px;
}
li>a{
    text-decoration: none;
    font-size: larger;
    color:black;

}
li>a:hover{
    color: white;
    font-weight: bold;
}
li{
    margin: 0px 10px;
}
.logo{
    margin: 0px 10px 0px 5px;
}
.right{
    width: 50%;
     /* margin-right: 10px; */
    /* position: absolute; */
    /* right:3%; */
    /* background-color: yellow; */
}
.right>form>input{
    padding: 3px;
    outline: none;
    font-weight: 510;
    text-transform: capitalize;
    border: 2px solid black;
    border-radius: 5px;
    /* background-color: mediumvioletred; */
}
#sub-btn:hover{
cursor: pointer;
font-weight: bold;
}
h1{
    font-size:35px;
    text-align: center;
    font-family: monospace;
    color: rgba(201, 216, 212, 0.973);
}
.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#sec1{
    color: white;
    background-color: rgba(58, 63, 63, 0.801);
    background-image: url("../images/night_star.jpg") ;
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
}
#sec1,#sec2{
    height: 50vh;
}
.waves{
    display: flex;
    height: 50vh;
    background-color: skyblue;
}
.wave{
   position: absolute;
   bottom: 2vh;
   width: 100%;
   height: 50vh;
   opacity: 0.4;
   background: url(../images/wave.png);
   /* background-repeat: repeat-x ; */
   background-size:contain;


}
#wave1{
    
    bottom: 2vh;
    /* background-color: wheat; */
    animation: lahar 2s linear reverse ;    
    animation-delay: 0;
}
#wave2{
    bottom: 5vh;
    /* background-color: red; */
    animation: lahar 3.4s linear infinite  ;    
    animation-delay: 0;
}
#wave3{
    bottom: 4vh;
    /* background-color: black; */
    animation: lahar 3s linear  infinite reverse;    
    animation-delay: 0;
}
#wave4{
    bottom: 4vh;
    /* background-color: black; */
    animation: lahar 4s linear  infinite ;    
    animation-delay: 0;
}
@keyframes lahar {
    0%{
        background-position-x: 0;
        
    }
    100%{
        background-position-x: 100vw;

    }
    
}
